Repository kanade0404/next-mastra: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: pnpm run lint:eslint {staged_files}
            stage_fixed: true

        prettier:
            glob: '*.{js,ts,jsx,tsx,json,md,css}'
            run: pnpm run format:prettier {staged_files}
            stage_fixed: true

        secretlint:
            run: pnpm secretlint {staged_files}

        cspell:
            run: pnpm run lint:cspell {staged_files}

pre-push:
    commands:
        typecheck:
            run: pnpm run build

        test:
            run: pnpm test

refactor: ESMに統一とignore設定の改善
  .claude/settings.local.json
  .gitignore
  eslint.config.mjs
  pnpm-lock.yaml
  src/lib/env.test.ts
Due: eslint, prettier

test: staged files機能のテスト
  test-staged.js
Due: eslint, prettier

feat: lefthook staged files対応改善
  lefthook.yml
  staged-test.js
Due: eslint, prettier

cleanup: テストファイル削除
  eslint.config.mjs
  staged-test.js
  test-staged.js
Due: eslint, prettier

feat: cspell設定最適化とビルド修正
  .cspell.json
  docs/api/endpoints.md
  docs/architecture/system-overview.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/app/page.tsx
Due: eslint, prettier

feat: ESLint設定の最適化と厳格化
  eslint.config.mjs
  src/lib/env.ts
Due: eslint, prettier

chore: package.json と pnpm-lock.yaml の更新
  package.json
  pnpm-lock.yaml
Due: prettier

docs: ESLint設定の詳細ルールをドキュメント化
  docs/development/quality-gates.md
Due: prettier

feat: GitHub Actions CI/CD パイプラインの実装
  .claude/mcp.json
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  README.md
  lefthook.yml
  package.json
Due: prettier

docs: task.md更新 - 開発環境・品質管理基盤構築完了
  task.md
Due: prettier

feat: 完全な開発環境・品質管理基盤の実装
  README.md
  package.json
Due: prettier

feat: Prettier設定でファイル末尾改行コード自動追加
  .prettierrc.js
  package.json
Due: eslint, prettier

docs: task.md更新 - Prettier設定最適化完了記録
  task.md
Due: prettier

fix: CSpell設定の重複エントリを削除
  .cspell.json
Due: prettier

refactor: safe-amendスクリプトを別ファイルに分離
  .README.md.swp
  README.md
  package.json
  scripts/safe-amend.sh
Due: prettier

docs: README.md簡素化とarchives詳細ドキュメント作成
  .README.md.swp
  README.md
  docs/archives/actionlint-integration.md
  docs/archives/eslint-optimization.md
  docs/archives/git-safety-implementation.md
Due: prettier

fix: CI/CD品質ゲート修正
  .env.local.example
  .github/workflows/quality.yml
  lefthook.yml
  src/lib/env.test.ts
Due: eslint, prettier

fix: セキュリティ・アクセシビリティ修正
  src/app/page.tsx
  src/lib/env.test.ts
Due: eslint, prettier

fix: ESLint glob pattern修正
  eslint.config.mjs
Due: none

refactor: コード品質向上
  .prettierrc.js
  src/lib/env.ts
Due: eslint, prettier

refactor: 設定ファイル統一性改善
  .claude/mcp.json
  .gitignore
  next.config.ts
Due: eslint, prettier

docs: Markdownリストインデント修正
  docs/development/quality-gates.md
Due: prettier

fix: review comment対応完了
  .cspell.json
  .env.local.example
  docs/archives/actionlint-integration.md
  docs/development/quality-gates.md
Due: prettier

feat: Claude PR Assistant GitHub Actionsワークフロー追加
  .github/workflows/claude.yml
Due: none

fix: CodeRabbit高・中優先度指摘事項対応完了
  .cspell.json
  docs/features/auth.md
  docs/features/rag.md
  docs/infrastructure/cloudflare.md
  src/app/[slug]/route.ts
Due: eslint, prettier

feat: Phase 2完了 - 主要機能復旧とアーキテクチャ統合
  .claude/mcp.json
  .cspell.json
  .env.local.example
  .prettierrc.js
  .secretlintignore
  .secretlintrc.json
  CLAUDE.md
  docs/README.md
  docs/archives/eslint-optimization.md
  docs/archives/oxlint-migration.md
  docs/context.md
  docs/development/quality-gates.md
  docs/features/auth.md
  docs/features/chat.md
  docs/features/rag.md
  docs/infrastructure/cloudflare.md
  dprint.json
  eslint.config.mjs
  examples/mcp/fetch-example.ts
  examples/mcp/filesystem-example.ts
  lefthook.yml
  next.config.ts
  oxlint.json
  package.json
  plan.md
  pnpm-lock.yaml
  prisma/migrations/20250101000000_init/migration.sql
  prisma/schema.prisma
  src/app/[slug]/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/providers/auth-provider.tsx
  src/lib/auth.ts
  src/lib/db.ts
  src/lib/env.test.ts
  src/lib/env.ts
  src/lib/mcp/client.ts
  tsconfig.json
  wrangler.toml
Due: eslint, prettier
